USE [food delivery system]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 5/16/2026 6:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](20) NULL,
	[last_name] [varchar](20) NULL,
	[email] [varchar](30) NULL,
	[address] [varchar](30) NULL,
	[phone] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delivery]    Script Date: 5/16/2026 6:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delivery](
	[delivery_id] [int] IDENTITY(1,1) NOT NULL,
	[delivery_person_name] [varchar](20) NULL,
	[delivery_phone] [varchar](30) NULL,
	[status] [bit] NULL,
	[delivery_time] [time](7) NULL,
	[estimated_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[delivery_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/16/2026 6:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] NOT NULL,
	[customer_id] [int] NULL,
	[delivery_id] [int] NULL,
	[payment_id] [int] NOT NULL,
	[total_amount] [decimal](10, 2) NULL,
	[status] [bit] NULL,
	[order_date] [date] NULL,
	[restaurant_id] [int] NULL,
 CONSTRAINT [PK__Orders__46596229C0A4C6D4] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderDeliveryStatus]    Script Date: 5/16/2026 6:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW  [dbo].[vw_OrderDeliveryStatus] AS
    select  o.order_id,
    c.first_name + ' ' + c.last_name AS customer_name,
    d.delivery_person_name,
    d.delivery_phone,
    CASE d.status 
        WHEN 0 THEN 'In Progress '
        WHEN 1 THEN 'Delivered '
    END AS delivery_status,
    d.estimated_time,
    o.status AS order_status
FROM Orders o
JOIN customer c ON c.customer_id = o.customer_id
JOIN delivery d ON d.delivery_id = o.delivery_id
WHERE d.status = 0;
GO
/****** Object:  Table [dbo].[fooditem]    Script Date: 5/16/2026 6:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fooditem](
	[food_item_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurant_id] [int] NULL,
	[name] [varchar](25) NULL,
	[price] [decimal](10, 2) NULL,
	[description] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[food_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderitem]    Script Date: 5/16/2026 6:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderitem](
	[orderitem_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[food_item_id] [int] NULL,
	[quantity] [int] NULL,
	[unit_price] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderitem_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderItems]    Script Date: 5/16/2026 6:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_OrderItems] AS
SELECT 
    o.order_id,
    fi.name AS food_name,
    oi.quantity,
    oi.unit_price,
    oi.quantity * oi.unit_price AS total_price
FROM orderitem oi
JOIN fooditem fi ON fi.food_item_id = oi.food_item_id
JOIN Orders o ON o.order_id = oi.order_id;

GO
/****** Object:  Table [dbo].[restaurant]    Script Date: 5/16/2026 6:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[restaurant](
	[restaurant_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NULL,
	[phone_number] [varchar](30) NULL,
	[address] [varchar](30) NULL,
	[description] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[restaurant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderSummary]    Script Date: 5/16/2026 6:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_OrderSummary] AS
SELECT 
    o.order_id,
    c.first_name + ' ' + c.last_name AS customer_name,
    c.phone,
    r.name AS restaurant_name,
	oi.unit_price,
	oi.quantity,
	oi.quantity * oi.unit_price AS total_price,
   
    o.order_date,
    CASE o.status
        WHEN 0 THEN 'Pending..... '
        WHEN 1 THEN 'Completed * '
    END AS order_status
FROM Orders o
JOIN customer c ON c.customer_id = o.customer_id
JOIN orderitem oi ON oi.order_id = o.order_id
JOIN fooditem fi ON fi.food_item_id = oi.food_item_id
JOIN restaurant r ON r.restaurant_id = fi.restaurant_id;
GO
/****** Object:  Table [dbo].[payment]    Script Date: 5/16/2026 6:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_method] [varchar](30) NULL,
	[payment_status] [bit] NULL,
	[payment_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PaymentReport]    Script Date: 5/16/2026 6:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_PaymentReport] AS
	SELECT 
    o.order_id,
    c.first_name + ' ' + c.last_name AS customer_name,
    oi.unit_price,
    oi.quantity,
    oi.unit_price * oi.quantity AS item_total,
    p.payment_method,
    CASE p.payment_status
        WHEN 0 THEN 'Unpaid '
        WHEN 1 THEN 'Paid '
    END AS payment_status,
    p.payment_date
FROM payment p
JOIN Orders o ON o.payment_id = p.payment_id
JOIN customer c ON c.customer_id = o.customer_id
JOIN orderitem oi ON oi.order_id = o.order_id;
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([customer_id], [first_name], [last_name], [email], [address], [phone]) VALUES (1, N'hamada', N'hmabaka', N'hambaka.com', N'cairo - nasr city', N'01025846913')
INSERT [dbo].[customer] ([customer_id], [first_name], [last_name], [email], [address], [phone]) VALUES (2, N'ahmed', N'rageb', N'ah.rg.com', N'Cairo - Maadi', N'01025487956')
INSERT [dbo].[customer] ([customer_id], [first_name], [last_name], [email], [address], [phone]) VALUES (3, N'ashraf', N'emad', N'ashraf.com', N'fayoum', N'01026589451')
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
SET IDENTITY_INSERT [dbo].[delivery] ON 

INSERT [dbo].[delivery] ([delivery_id], [delivery_person_name], [delivery_phone], [status], [delivery_time], [estimated_time]) VALUES (1, N'Ahmed Ali', N'01012345678', 1, CAST(N'14:30:00' AS Time), CAST(N'14:45:00' AS Time))
INSERT [dbo].[delivery] ([delivery_id], [delivery_person_name], [delivery_phone], [status], [delivery_time], [estimated_time]) VALUES (2, N'Mohamed Samir', N'01198765432', 1, CAST(N'13:10:00' AS Time), CAST(N'13:25:00' AS Time))
INSERT [dbo].[delivery] ([delivery_id], [delivery_person_name], [delivery_phone], [status], [delivery_time], [estimated_time]) VALUES (3, N'Omar Hassan', N'01234567890', 0, NULL, CAST(N'15:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[delivery] OFF
GO
SET IDENTITY_INSERT [dbo].[fooditem] ON 

INSERT [dbo].[fooditem] ([food_item_id], [restaurant_id], [name], [price], [description]) VALUES (2, 7, N'Chicken Kebab', CAST(120.00 AS Decimal(10, 2)), N'Grilled chicken skewers with special spices')
INSERT [dbo].[fooditem] ([food_item_id], [restaurant_id], [name], [price], [description]) VALUES (3, 8, N'Falafel Sandwich', CAST(15.00 AS Decimal(10, 2)), N'Falafel with tahini, salad and pickles')
INSERT [dbo].[fooditem] ([food_item_id], [restaurant_id], [name], [price], [description]) VALUES (4, 5, N'Beef Burger', CAST(95.00 AS Decimal(10, 2)), N'Beef burger with cheese, lettuce and sauce')
SET IDENTITY_INSERT [dbo].[fooditem] OFF
GO
SET IDENTITY_INSERT [dbo].[orderitem] ON 

INSERT [dbo].[orderitem] ([orderitem_id], [order_id], [food_item_id], [quantity], [unit_price]) VALUES (2, 1004, 4, 2, 30)
INSERT [dbo].[orderitem] ([orderitem_id], [order_id], [food_item_id], [quantity], [unit_price]) VALUES (3, 1006, 2, 6, 25)
INSERT [dbo].[orderitem] ([orderitem_id], [order_id], [food_item_id], [quantity], [unit_price]) VALUES (4, 1001, 6, 3, 45)
SET IDENTITY_INSERT [dbo].[orderitem] OFF
GO
INSERT [dbo].[Orders] ([order_id], [customer_id], [delivery_id], [payment_id], [total_amount], [status], [order_date], [restaurant_id]) VALUES (1000, 4, 1, 3, CAST(300.00 AS Decimal(10, 2)), 1, CAST(N'2025-01-25' AS Date), 5)
INSERT [dbo].[Orders] ([order_id], [customer_id], [delivery_id], [payment_id], [total_amount], [status], [order_date], [restaurant_id]) VALUES (1001, 3, 4, 2, CAST(259.00 AS Decimal(10, 2)), 0, CAST(N'2020-03-20' AS Date), 5)
INSERT [dbo].[Orders] ([order_id], [customer_id], [delivery_id], [payment_id], [total_amount], [status], [order_date], [restaurant_id]) VALUES (1004, 5, 3, 2, CAST(202.00 AS Decimal(10, 2)), 1, CAST(N'2019-07-03' AS Date), 8)
GO
SET IDENTITY_INSERT [dbo].[payment] ON 

INSERT [dbo].[payment] ([payment_id], [payment_method], [payment_status], [payment_date]) VALUES (2, N'Cash', 0, CAST(N'2026-05-14' AS Date))
INSERT [dbo].[payment] ([payment_id], [payment_method], [payment_status], [payment_date]) VALUES (3, N'Visa', 1, CAST(N'2026-05-13' AS Date))
INSERT [dbo].[payment] ([payment_id], [payment_method], [payment_status], [payment_date]) VALUES (4, N'Wallet', 0, CAST(N'2026-05-12' AS Date))
SET IDENTITY_INSERT [dbo].[payment] OFF
GO
SET IDENTITY_INSERT [dbo].[restaurant] ON 

INSERT [dbo].[restaurant] ([restaurant_id], [name], [phone_number], [address], [description]) VALUES (4, N'Pizza King', N'024581', N'cairo - nasr city', N'Famous for Italian pizza and fast delivery')
INSERT [dbo].[restaurant] ([restaurant_id], [name], [phone_number], [address], [description]) VALUES (5, N'Burger House', N'01124567890', N'giza - dokki', N'Delicious burgers with crispy fries and cold drinks')
INSERT [dbo].[restaurant] ([restaurant_id], [name], [phone_number], [address], [description]) VALUES (6, N'Tasty Grill', N'01099887766', N'alexandria - smouha', N'Oriental grill meals and mixed barbecue dishes')
SET IDENTITY_INSERT [dbo].[restaurant] OFF
GO
ALTER TABLE [dbo].[fooditem]  WITH CHECK ADD  CONSTRAINT [FK_fooditem_restaurant] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[restaurant] ([restaurant_id])
GO
ALTER TABLE [dbo].[fooditem] CHECK CONSTRAINT [FK_fooditem_restaurant]
GO
ALTER TABLE [dbo].[orderitem]  WITH CHECK ADD  CONSTRAINT [FK_orderitem_fooditem] FOREIGN KEY([food_item_id])
REFERENCES [dbo].[fooditem] ([food_item_id])
GO
ALTER TABLE [dbo].[orderitem] CHECK CONSTRAINT [FK_orderitem_fooditem]
GO
ALTER TABLE [dbo].[orderitem]  WITH CHECK ADD  CONSTRAINT [FK_orderitem_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[orderitem] CHECK CONSTRAINT [FK_orderitem_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK__Orders__customer__3F466844] FOREIGN KEY([payment_id])
REFERENCES [dbo].[payment] ([payment_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK__Orders__customer__3F466844]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([customer_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_customer]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_delivery] FOREIGN KEY([delivery_id])
REFERENCES [dbo].[delivery] ([delivery_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_orders_delivery]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_restaurant] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[restaurant] ([restaurant_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_orders_restaurant]
GO
/****** Object:  StoredProcedure [dbo].[change_delivery_status]    Script Date: 5/16/2026 6:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[change_delivery_status]  @deli_id int , @t bit
as
update delivery
set status=@t
where delivery_id= @deli_id
GO
/****** Object:  StoredProcedure [dbo].[orders_of_customer]    Script Date: 5/16/2026 6:15:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create   proc [dbo].[orders_of_customer] @id_cu int
AS
SELECT 
    c.first_name + ' ' + c.last_name AS 'customer name',
    c.phone,
    o.order_id,
    o.order_date,
    fo.name AS 'food name',
    orr.quantity,
    orr.unit_price,
    orr.unit_price * orr.quantity AS total_price
FROM customer c
JOIN Orders o ON c.customer_id = o.customer_id
JOIN orderitem orr ON o.order_id = orr.order_id
JOIN fooditem fo ON orr.food_item_id = fo.food_item_id
LEFT JOIN restaurant r ON fo.restaurant_id = r.restaurant_id
WHERE c.customer_id = @id_cu;
GO
